h1,
span,
div {
    font-family: ui-monospace;

}


body,
.body {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -9999;
}

.miquel {
    animation: subirMiquel 4s cubic-bezier(0.34, -0.36, 0.44, 1.69);
}

.title {
    font-size: 80px;
    color: #FFF2BB;
    text-shadow: 1px -1px #000000, -1px 1px #ffffff, 3px 4px #000000;
}

.titleIcon {
    font-size: 27px;
    color: #FFF2BB;
}

.subtitle {
    color: #FFF2BB;
    font-size: 18px;
}

.subtitle2 {
    color: #FFF2BB;
    font-size: 24px;
}

.nominados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: scale(0.9);
    transition: flex-grow 1000ms linear;
    flex-grow: 1;


}

.nominado {
    padding: 5px 10px;
    position: relative;
}

.marco {
    position: absolute;
    height: auto;
    width: calc(9vw + 10px);
}

.persona {
    margin: 5px;
    height: 9vw;
    object-fit: cover;
    width: 9vw;
}

.marco2 {
    position: absolute;
    height: 220px;
    width: 220px;
}

.persona2 {
    margin: 10px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}



.ganar0 {
    animation: amplia 2s linear infinite;
    transform: scale(1.5);
}

@keyframes amplia {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.subirgiro {
    animation: subir 2.5s cubic-bezier(0.310, 0.440, 0.445, 1.650), girar 3s 2.5s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
        transform: scale(1);

    }

    50% {
        transform: rotate3d(0, 1, 0, 180deg);
        transform: scale(1.5);

    }

    100% {
        transform: rotate3d(0, 1, 0, 360deg);
        transform: scale(1);

    }
}

@keyframes darvuelta {
    0% {
        transform: rotate3d(.25, 1, .25, 0deg);

    }

    100% {
        transform: rotate3d(.25, 1, .25, 360deg);

    }
}

.IconImg {
    filter: brightness(0.7);
    height: 130px;
    width: auto;
}

.subir0 {
    animation: subir 2.5s cubic-bezier(0.310, 0.440, 0.445, 1.650);
}

.subir1 {
    animation: ocultar 2s, subir 2.5s 1.9s cubic-bezier(0.310, 0.440, 0.445, 1.650);
}

.subir2 {
    animation: ocultar 3s, subir 2.5s 2.9s cubic-bezier(0.310, 0.440, 0.445, 1.650);
}


@keyframes subir {
    from {
        transform: translateY(40rem);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes subirMiquel {
    0% {
        opacity: 0;
        transform: translateY(+10rem);

    }

    40% {
        opacity: 0;
        transform: translate(20rem, 20rem);

    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.typedtext {
    font-size: 34px;
    line-height: 80px;
    font-family: system-ui;
    font-weight: 700;
    color: lightgoldenrodyellow;
}

@keyframes ocultar {

    0%,
    99% {
        transform: translateY(+10rem);
        opacity: 0;
    }

    100% {
        transform: translateY(+10rem);
        opacity: 1;
    }

}

.caer {
    opacity: 0;
    animation: caer 3s cubic-bezier(0.310, 0.440, 0.445, 1.650);
    display: none;
}


@keyframes caer {
    0% {
        opacity: 1;
        display: block;
        transform: translateY(0);
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
        transform: translateY(40rem);
    }
}

@keyframes moveRadom {
    from {
        transform: translateY(var(--radom));
    }

    to {
        transform: translateY(0);
    }
}

.miguelCae {
    animation: caerMiguel 6s;
    transform: translateY(100rem);
}

@keyframes caerMiguel {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100rem);
    }
}

.none {
    display: none;
}

.miguelSube {
    animation: subeMiguel 4s;

}

@keyframes subeMiguel {
    from {
        transform: translateY(100rem);
    }

    to {
        transform: translateY(0);
    }
}