body,
.body {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -9999;
}

.title {
    font-size: 80px;
    color: #FFF2BB;
}

.titleIcon {
    font-size: 27px;
    color: #FFF2BB;
}

.subtitle {
    color: #FFF2BB;
    font-size: 18px;
}

.col-4 {
    width: 33.3333333%;
}

.nominados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nominado {
    padding: 20px;
    position: relative;
}

.marco {
    position: absolute;
    height: 140px;
    width: 140px;
}

.persona {
    margin: 10px;
    height: 120px;
    width: 120px;
}

.marco2 {
    position: absolute;
    height: 220px;
    width: 220px;
}

.persona2 {
    margin: 10px;
    height: 200px;
    width: 200px;
}

.caer {
    opacity: 0;
    animation: caer 1.5s cubic-bezier(0.310, 0.440, 0.445, 1.650);
    display: none;
}


@keyframes caer {
    0% {
        opacity: 1;
        display: block;
        transform: translateY(0);

    }

    100% {
        opacity: 0;
        display: none;
        transform: translateY(+10rem);
    }
}

.ganar0 {
    animation: ganar0 2s;
    transform: scale(1.5);
}

@keyframes ganar0 {

    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }

}

.IconImg {
    filter: brightness(0.7);
    height: 130px;
    width: auto;
}

.subir {
    animation: subir 1.5s cubic-bezier(0.310, 0.440, 0.445, 1.650);
}


@keyframes subir {
    0% {
        transform: translateY(+10rem);

    }

    100% {
        transform: translateY(0);
    }
}